<!doctype html>

<html data-ng-app="people">
  <head>
    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/out/people/people.js"></script>
    <script src="/out/people/githubService.js"></script>
  </head>

  <body>
    <h2>Github people</h2>
    <div data-ng-controller="PeopleController as controller">
      <div>
        <form name="selectMode" data-ng-submit="controller.getPeople()">

          <input type="search" data-ng-model="controller.username" required placeholder="Username to find">
          <label for="options">Choose http method:</label>
          <select name="options" data-ng-model="controller.mode">      
            <option>Await</option>
            <option>Promise</option>
          </select>
          <input type="submit"/>
        </form>
      </div>
      <!-- {{ ... }} and ng-model are called directives in AngularJS: https://docs.angularjs.org/guide/directive-->
      <p>Status: <b>{{controller.error}}</b></p>
      <br>
      <div>
          <div>Name: <b>{{controller.person.name}}</b></div>
          <div>
            <img data-ng-src="{{controller.person.avatar_url}}" title="{{controller.person.name}}"/>
            <!-- data-ng-src is needed because on initial loading of this page angularJS is not active yet (because Javascript is loaded after inital drawing)
                 So the browsers sees controller.person.avatar_url as the page to get, but will ofcourse get a 404. 
                data-ng-src will fix this for us -->
          </div>
        </div>
        <br>
        <!-- It is possible to divide html over serveral files as show below -->
        <div data-ng-include="'/src/people/repos.html'" data-ng-show="controller.repos"> <!-- ng-show: only show when model has a value (checked on truthiness)-->
      </div>
  </body>
</html>